html,
body {
  position: relative;
  width: 100%;
  height: 100%;
}

* {
  box-sizing: border-box;
}

body {
  color: #333;
  margin: 0;
  padding: 4px;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
}

a {
  color: #0078a8;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

.leaflet-container {
  font-family: inherit !important;
}

@media screen and (max-width: 800px) {
  .leaflet-control-zoom {
    display: none;
  }
}
